.main {
  background-color: #42493f;
  min-height: 100vh;
}

.accordion {
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.me {
  font-size: 25px;
  color: #f1faee;
  background-color: #006cd0;
}

.accordion button {
  background-color: #006cd0;
}

.accordion button:not(.collapsed) {
  background-color: #006cd0;
  color: #42493f;
  box-shadow: none;
}

.accordion button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion button:focus {
  box-shadow: none;
  border-color: none;
}

.accordion h1 {
  color: #f1faee;
}

.second {
  padding: 50px 0px;
}

.picture {
  width: 100%;
  height: auto;
  border-radius: 5%;
  margin: 5px 0px;
  padding: 0px 4px;
}

.btn.btn-outline-seven {
  background-color: #f1faee;
  color: #006cd0;
  font-size: 25px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

.btn.btn-outline-seven:hover {
  background-color: #006cd0;
  color: #f1faee;
  transform: rotate(-360deg);
  transition: 2s;
}

.btn.btn-outline-one {
  background-color: #f1faee;
  color: #006cd0;
  font-size: 25px;
  font-weight: bold;
  margin: 75px 0px 75px 0px;
}

.btn.btn-outline-one:hover {
  background-color: #006cd0;
  color: #f1faee;
  transform: rotate(360deg);
  transition: 2s;
}
