.below {
  color: #f1faee;
  font-size: 35px;
  font-weight: bold;
  margin: 8px 0px 0px 0px;
}

.method {
  font-size: 30px;
  color: #f1faee;
  text-decoration: #006cd0 underline 3px solid;
}

a:link {
  text-decoration: none;
}

.link:hover {
  color: #006cd0;
}

.link {
  color: #f1faee;
  font-size: 35px;
  margin: 6px 0px 0px 0px;
}

.cell {
  color: #f1faee;
  font-size: 35px;
  margin: 6px 0px 0px 0px;
}

.phone {
  font-weight: bold;
  font-size: 35px;
  color: #f1faee;
}

.btn.btn-outline-mail {
  background-color: #f1faee;
  color: #006cd0;
  font-size: 25px;
  margin: 10px 0px 70px 0px;
}

.btn.btn-outline-mail:hover {
  background-color: #006cd0;
  color: #f1faee;
  font-weight: bold;
}

.btn.btn-outline-nine {
  background-color: #f1faee;
  color: #006cd0;
  font-size: 25px;
  font-weight: bold;
  margin: 70px 0px 0px 0px;
}

.btn.btn-outline-nine:hover {
  background-color: #006cd0;
  color: #f1faee;
  transform: rotate(-360deg);
  transition: 2s;
}

.btn.btn-outline-two {
  background-color: #f1faee;
  color: #006cd0;
  font-size: 25px;
  font-weight: bold;
  margin: 70px 0px 70px 0px;
}

.btn.btn-outline-two:hover {
  background-color: #006cd0;
  color: #f1faee;
  transform: rotate(360deg);
  transition: 2s;
}
