.phone {
    font-weight: bold;
    font-size: 35px;
    color: #f1faee;
    text-decoration: underline #9a1aef;
    text-decoration-style: dashed;
}

.below {
    color: #f1faee;
    font-size: 25px;
    font-weight: bold;
}

.btn.btn-outline-mail {
    background-color: #f1faee;
    color: #9a1aef;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px 70px 0px;
}

.btn.btn-outline-mail:hover {
    background-color: #9a1aef;
    color: #f1faee;
}


.btn.btn-outline-two {
    background-color: #f1faee;
    color: #9a1aef;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0px 70px 0px;
}

.btn.btn-outline-two:hover {
    background-color: #9a1aef;
    color: #f1faee;
    transform: rotate(360deg);
    transition: 2s;
}