.project-title {
  color: #006cd0;
  font-weight: bold;
}

.Project {
  color: #42493f;
  font-size: 30px;
}

.Project:hover {
  color: #006cd0;
}

.schedule {
  color: #42493f;
  font-size: 30px;
}

.schedule:hover {
  color: #006cd0;
}

.taker {
  color: #42493f;
  font-size: 30px;
}

.taker:hover {
  color: #006cd0;
}

.final {
  color: #42493f;
  font-size: 30px;
}

.final:hover {
  color: #006cd0;
}

.word {
  color: #42493f;
  font-size: 30px;
}

.word:hover {
  color: #006cd0;
}

.badge.bg-language {
  background-color: #42493f;
  font-weight: 400;
}

.btn.btn-outline-view {
  background-color: #42493f;
  color: #f1faee;
  display: flex;
  justify-content: center;
  margin: 0px 50px 0px 50px;
}

.btn.btn-outline-view:hover {
  background-color: #006cd0;
  color: #f1faee;
  font-weight: 600;
}
